language: python
sudo: false
cache: pip

matrix:
  include:
  - python: 2.7
  - python: 3.5
  - python: 3.6
  - python: 3.7
    dist: xenial
    sudo: true

script:
  - python setup.py test

notifications:
  email: false
